

body {
    header.navbar {
        display : none;
    }

    div.page, div.content, div.page-edit {
        padding: 0px !important;
    }

     div.page .content .container {
         margin: 0px;
     }
}